/node_modules
.env
/app
/storage
/tests
/vendor
/resources
/.gitattributes
/artisan
/composer.lock
/gulpfile.js
/npm-debug.log
/package.json
/phpunit.xml
/readme.md
/server.php
/config
/bootstrap
/database
/public
/.idea
/.phpstorm.meta.php
/_ide_helper.php
/npm-debug.log.dc278a60e5cec6480b5bb2eda0762f36
phpspec.yml